{% extends 'base.html' %}
{% block title %}Sign Up{% endblock title %}block
{% block content %}
    <h2 class="page-title">Sign Up</h2>
    <form action="{{ url_for('signup') }}" method="POST">
        {{ csrf_token }}
        <div class="form-group">
            <input class="form-control form-control-lg" type="text" placeholder="Nickname" name="nickname" required>
        </div>
        <div class="form-group">
            <input class="form-control form-control-lg" type="text" placeholder="Your name" name="name" required>
        </div>
        <div class="form-group">
            <input type="password" class="form-control form-control-lg"  placeholder="Password" name="password" required>
        </div>
        <p><button type="submit" class="btn btn-primary">Submit</button></p>
    </form>
{% endblock content %}